{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-4 offset-4 text-center">
        <h1>🐍TEXT TO SPEECH🐶</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <textarea name="text" placeholder="読み上げたいテキストを入力してください" rows="4" cols="40" required></textarea>
            <button onclick="readText()">読み上げる</button>
            <p>上記テキストを読み上げます。<br>
                「読み上げる」ボタンをクリックしてください。</p>
            <form action="/logout" method="post">
                <input type="submit" value="Logout">

            </form>
            {% endblock %}
